* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  width: 100%;
  height: 190px;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 8vw;
  font-weight: 550;
}

span {
  color: #FAE9F2;
}

.arabic-text {
  text-align: right;
  direction: rtl;
  font-family: "Amiri", serif; /* optional for nicer Arabic font */
}

.phrase {
  margin-bottom: 25px; /* adjust as you like */
  line-height: 1.6;    /* for nicer readability */
}
